<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        <p>For any queries please contact the admin office</p>
        {{> footer}}
    </body>
</html>