<!DOCTYPE html>
<html>
    <head>
        <title>
            Modules Page.
        </title>
    </head>
    <body bgcolor="grey">
            
        <p>
            {{> header}}
        </p>
        <p>
        <h5>
        This page contains modules involed in the {{League}}            
        </h5>  
        </p> 
        <p>
        1)Player Bio-Data.<br/>
        2)Administration.<br/>
        3)News Feed.<br/>
        4)Ads.<br/>
        5)Weather.<br/>
        6)Website for iphone users.<br/>              
        </p>
        {{> footer}}
    </body>
</html>