<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        <p>This website contains {{League}} Private Data.</p>
        <p>For any queries please contact the admin office</p>
    </body>
</html>